$color: red;

.SassT1 ul{
    font-size: 14px;
    color:$color;
}
.SassT1 ol{
    font-size: 24px;
    color: $color;
    width: 200;
}
div{
    font-size: 20px;
    p{color: blue;}
    ul{color:green;}
}
%message{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    border:1px solid black;
    padding: 20px;
    margin: 20px;
}

.success_{
    @extend %message;
    background-color: beige;
}
.warning{
    @extend %message;
    background-color: orange;
}
.error{
    @extend%message;
    background-color: red;
}